.admin_edit_block{
    position: absolute;
    z-index: 1050;
}
table tbody input{
    min-width: 100px;
}
table tbody .inp_datepicker{
    min-width: 130px;
}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_update_cache .mdi-file-restore-outline{

}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_update_cache .mdi-file-restore-outline:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_update_cache .mdi-file-restore-outline:active{
    color: #ff8888;
}