.admin_edit_block{
    position: absolute;
    z-index: 1050;
}
table tbody input{
    min-width: 100px;
}
table tbody .inp_datepicker{
    min-width: 130px;
}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_update_cache .mdi-file-restore-outline{

}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_update_cache .mdi-file-restore-outline:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_update_cache .mdi-file-restore-outline:active{
    color: #ff8888;
}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_file_manager .mdi-inbox-multiple:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.navbar .navbar-right .navbar-nav .right-sidebar-2-menu .btn_file_manager .mdi-inbox-multiple:active{
    color: #ff8888;
}
.form_result{
    color: #038c3a;
    display: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 0rem 1rem 0rem;
    text-align: center;
}