.webinar_head_bg{
    background: linear-gradient(140deg, #63A7D6, #0BC496);
    background-position: center;
    background-size: cover;
    min-height: 200px;
}
.webinar_head_logo_img{
    width: 80%;
    margin: 0 auto;
}

.office_block_top_left{
    background-color: #ffffff;
    text-align: center;
    float: left;
    width: 79px;
    height: 62px;
}
.office_block_top_left i{
    font-size: 1.7rem;
    padding: 18px 22px;
}
.office_block_top_right{
    float: left;
    margin-left: 79px;
    background-color: #f4f4f4;
    height: 62px;
    width: 100%;
    position: absolute;
    display: table;
}
.office_block_top_main{
    float: left;
    background-color: #f4f4f4;
    height: 62px;
    width: 100%;
    position: absolute;
    display: table;
}

.webinar_head_title2{
    font-weight: 500;
    font-size: 1.4rem;
    color: #10a500;
    padding: 0 1rem;
    display: table-cell;
    vertical-align: middle;
}

.office_link_back{
    color: #C9C9C9;
}
.office_link_back:hover{
    color: #808080;
}
.webinar_head_articul{
    text-align: left;
    color: #FFFFFF;
    font-size: 1rem;
}
.webinar_head_logo{
    text-align: center;
    background-color: #e3e3e3;
    position: static;
    margin-left: 5vw;
    margin-top: 6vh;
    z-index: 9;
} 
.wares_info_descr{
    color: #FFFFFF;
}
.webinar_head_title{
    text-align: left;
    margin-left: 1vw;
    color: #FFFFFF;
    font-size: 2rem;
    margin-top: 1vh;
}

.webinar_head_descr{
    text-align: left;
    margin-left: 1vw;
    color: #FFFFFF;
    font-size: 1rem;
    margin-top: 1vh;
}

.webinar_head_file{
    width: 75%;
    text-align: left;
    position: absolute;
    margin-left: 18vw;
    color: #FFFFFF;
    font-size: 2rem;
    margin-top: 24vh;
    z-index: 9;
}
/*
.webinar_head_articul{
    text-align: left;
    position: absolute;
    margin-left: 18vw;
    color: #FFFFFF;
    font-size: 1rem;
    margin-top: 20vh;
    z-index: 9;
}
.webinar_head_logo_img{
    padding: 0.25rem;
    background-color: #e3e3e3;
    border: 1px solid #dee2e6;
    max-height: 24vh;
    max-width: 12vw;
}
*/
.video_u_block_left{
    width: 300px;
    height: 100px;
    position: absolute;
    z-index: 9;
}
.video_u_block_right{
    float: right;
    width: 300px;
    height: 100px;
    margin-bottom: -100px;
    position: relative;
    z-index: 9;
}
.accordion .card .card-header button:after{
    font-size: 3rem;
    color: #000000;
}
.accordion .card-header .btn[aria-expanded="true"], .accordion .card-header a[aria-expanded="true"]{
    color: #000000;
}
.accordion .card-header .btn[aria-expanded="true"]:after, .accordion .card-header a[aria-expanded="true"]:after{
    color: #000000;
}
.series_block_main{
    width: 90%;
    margin: 0 auto;
}
.btn_serial_video{
    background-color: #C9C9C9;
    color: #FFFFFF;
}
.series_series_btn{
    text-align: left;
    border: 1px solid #C9C9C9;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.player-block{
    width: 100%;
}

@media (max-width: 768px) {
    .webinar_head_logo_img{
        width: 50%;
        margin: 0 auto;
    }
    .webinar_head_title2{
        font-weight: 500;

        margin: 6px 1rem;
        font-size: 1rem;
        color: #10a500;
    }
}
/*
@media (max-width: 768px) {
    .webinar_head_bg{
        height: auto;
    }
    .webinar_head_title{
        text-align: left;
        position: static;
        margin-left: 5vw;
        color: #FFFFFF;
        font-size: 1.3rem;
        margin-top: 3vh;
    }
    .webinar_head_logo{
        text-align: center;
        background: none;
        position: static;
        margin-left: 0vw;
        padding-top: 3vh;
        margin-top: 0vh;
        clear: both;
    }
    .webinar_head_logo_img{
        padding: 0.25rem;
        background: none;
        border: none;
        max-height: 24vh;
        max-width: 50%;
    }
    .webinar_head_articul{
        text-align: left;
        position: static;
        margin-left: 5vw;
        color: #FFFFFF; 
        font-size: 1rem;
        margin-top: 3vh;
        padding-bottom: 3vh;
        clear: both; 
    }
    .webinar_head_file{
        width: 90%;
        text-align: left;
        position: static;
        margin-left: 5vw;
        color: #FFFFFF;
        font-size: 2rem;
        margin-top: 0vh;
        padding-bottom: 3vh;
    }
    .player-block{
        width: 100%;
    }
}
*/